@model IEnumerable<Example.Entities.Models.Order>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>TotalPrice</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.TotalPrice
            </td>

        </tr>
    }

</table>