@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>


    <div class="row">
        <div class="col-md-4">
<p>
    Jesteśmy doświadczoną firmą na rynku zajmującą się sprzedażą sprzętu komputerowego.
    Nasz sklep posiada szeroką gamę produktów, dzięki czemu klient powienien znaleźć to czego szuka.
    Każdy sprzęt jaki mamy w ofercie jest nowy, spakowany w fabryczne pudełko.
    W razie jakichkolwiek pytań zapraszamy do zakładki - Contact.
</p>
    </div>
</div>

