@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    E-Computer<br />
    87-100 Toruń ul. Przykładowa 5<br />
    <abbr title="tel:">tel:</abbr>
    555 111 555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support_EComputer@example.com">Support_EComputer@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing_Ecomputer@example.com">Marketing_Ecomputer@example.com</a>
</address>